<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cr.una.buildify">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/iconoapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconoapp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Buildify"
        tools:targetApi="31">
        <activity
            android:name=".usuario_invitado.Usuario_Invitado_Home"
            android:exported="false" />
        <activity
            android:name=".trabajador_independiente.Trabajador_Independiente_Home"
            android:exported="false" />
        <activity
            android:name=".evaluador_obra.Evaluador_Obra_Home"
            android:exported="false" />
        <activity
            android:name=".duenno_obra.Duenno_Obra_Home"
            android:exported="false" />
        <activity
            android:name=".director_proyecto.Director_Proyecto_Home"
            android:exported="false" />
        <activity
            android:name=".iniciosesion.inicioSesion"
            android:exported="true">
        </activity>
        <activity
            android:name=".visualizacionInc_eva_obs.Visualizacion_inc_eva_obs"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:stateNotNeeded="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".servicios.BuscarServicios"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing"
            >

            </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>